.section{
    border: 5px solid black;
    height: 75vh;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 0 15px;
    background-color: white;
    overflow: auto;

}
table,tr,th,td{
    width: 100%;
    font-weight: 500;
    padding: 5px;
}
tr,td{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
table button{
    padding: 5px 10px;
}
table,tr{
    border: 1px solid black;
}
.h1{
    background-color: chartreuse;
    text-align: center;
}
.detail{
    margin:30px;
    font-size: 40px;
    text-shadow: 0 0 15px chartreuse;
}
th{
    font-size: 30px;
}
@media (max-width:768px){
    .section{
        margin:20px;
        overflow: auto;
        width: 100%;
        height: 1000px;
      }
}